{
  BasedOnStyle: LLVM,
  # similarly: google code style guide about c++
  UseTab: Never,
  IndentWidth: 4,
  TabWidth: 4,
  BreakBeforeBraces: Attach,
  AllowShortIfStatementsOnASingleLine: true,
  AllowShortFunctionsOnASingleLine: false,
}
